@using SportsStore.Domain.Entities;

@model Product

@{
    ViewBag.Title = "Admin: Edit " + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit @Model.Name</h1>

<div>
	@Html.EditorFieldFor(m => m.Name)
</div>

<br />
<br />
<br />

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" })) {
	@Html.EditorForModel()

	<div class="editor-label">Image</div>
	<div class="editor-field">
		@if (Model.ImageData != null) {
			<img width="150" height="150" src="@Url.Action("GetImage", "Product", new { Model.ProductID })" />
		}
		<div>Upload new imag: <input type="file" name="image" /></div>
	</div>

	<input type="submit" value="Save" />
	@Html.ActionLink("Cancel and return to List", "Index")
}